<!-- EXPLORE HEAD START -->
<section>
    <div class="explore">
        <h1 class="explorehead1">EXPLORE OUR</h1>
        <h1 class="explorehead2">ADVENTURE PACKAGES</h1>
    </div>
</section>
<!-- EXPLORE HEAD START -->

<!-- Adventure Card Start -->
<section class="adventurecards">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6 col-lg-4 pt-5">
                <div class="card">
                    <img src="assets/images/adventurekodai.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                      <h3 class="card-head">Kodaikanal</h3>
                      <p>Kodaikanal is one of the very popular holiday destination hill resorts in South India. This hill station stands 7200 feet above sea level and situated in upper palani hills of the westernghats near Madurai in Tamil Nadu. Kodaikanal is also popularly known as the princes of Hill Stations.</p>
                      <button type="button" class="btn btn-labeled btn-success py-px" style="background-color: black;" >
                        <i class="fa-brands fa-whatsapp enquireus" style="color: #ffffff;"></i>Enquire Us</button>
                    </div>
                  </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 pt-5">
                <div class="card">
                    <img src="assets/images/adventureyercaud.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                      <h3 class="card-head">Yercaud</h3>
                      <p>Yercaud is a hill station near Salem, in the Servarayan range of hills (anglicized as Shevaroys) in the Eastern Ghats. It is at an altitude of 1515 metres (4969 feet) above the see level. The total extent of Yercaud Taluk is 382.67 Sq. kms.</p>
                      <button type="button" class="btn btn-labeled btn-success py-px" style="background-color: black;" >
                        <i class="fa-brands fa-whatsapp enquireus" style="color: #ffffff;"></i>Enquire Us</button>
                    </div>
                  </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 pt-5">
                <div class="card">
                    <img src="assets/images/adventureooty.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                      <h3 class="card-head">Ooty</h3>
                      <p>It is located 86 km (53 mi) north west of Coimbatore ,100 km (65 mi) north west of Tirupur ,128 km (80 mi) south of Mysore and is the headquarters of the Nilgiris district. It is a popular hill station located in the Nilgiri Hills. It is popularly called the "Queen of Hill Stations".</p>
                      <button type="button" class="btn btn-labeled btn-success py-px" style="background-color: black;" >
                        <i class="fa-brands fa-whatsapp enquireus" style="color: #ffffff;"></i>Enquire Us</button>
                    </div>
                  </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 pt-5">
                <div class="card">
                    <img src="assets/images/adventuremunnaar.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                      <h3 class="card-head">Munnaar</h3>
                      <p>Munnar is situated at the confluence of three mountain streams – Muthirapuzha, Nallathanni and Kundala – and the word 'Munnar' means three rivers in Malayalam. Situated about 1600m above sea level, the hill station had been the summer resort of the British Government during the colonial era.</p>
                      <button type="button" class="btn btn-labeled btn-success py-px" style="background-color: black;" >
                        <i class="fa-brands fa-whatsapp enquireus" style="color: #ffffff;"></i>Enquire Us</button>
                    </div>
                  </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 pt-5">
                <div class="card">
                    <img src="assets/images/adventurethekkady.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                      <h3 class="card-head">Thekkady</h3>
                      <p>Thekkady is situated about 257 km (160 mi) from Trivandrum, 145 km from Cochin International Airport and 114 km from Kottayam railway station. Thekkady is located 4 km away from Kumily, a plantation town in Kerala-Tamil Nadu border.</p>
                      <button type="button" class="btn btn-labeled btn-success py-px" style="background-color: black;" >
                        <i class="fa-brands fa-whatsapp enquireus" style="color: #ffffff;"></i>Enquire Us</button>
                    </div>
                  </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 pt-5">
                <div class="card">
                    <img src="assets/images/adventureyelagiri.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                      <h3 class="card-head">Yelagiri</h3>
                      <p>Yelagiri is one of the famous places for trekkers in India. The hill station is located at a height of 1410.6 meters above sea level. Yelagiri comprises 14 hamlets and a number of temples spread over several hills.</p>
                      <button type="button" class="btn btn-labeled btn-success py-px" style="background-color: black;" >
                        <i class="fa-brands fa-whatsapp enquireus" style="color: #ffffff;"></i>Enquire Us</button>
                    </div>
                  </div>
            </div>

        </div>
    </div>
</section>
<!-- Adventure Card Start -->
