<!-- FOOTER START -->
<section class="footer">
    <div class="container">
      <div class="row">

        <div class="col-12 col-sm-3 col-md-3 col-lg-3">
          <img src='/assets/images/Presidentialhotels.png' alt="" class="footimg">
          <p class="footpara">Choose South Indian most experienced and reliable Tour and packages operator.</p>
        </div>

        <div class="col-12 col-sm-3 col-md-3 col-lg-3">
          <h3 class="xyz">Quick links</h3>
          <ul class="footlink">
            <li><a routerLink="home" class="footlink">Home</a></li>
            <li><a routerLink="about" class="footlink">About</a></li>
            <li><a href="..." class="footlink">History</a></li>
            <li><a href="..." class="footlink">Gallery</a></li>
            <li><a href="..." class="footlink">Testimonial</a></li>
            <li><a routerLink="contact" class="footlink">Contact</a></li>
          </ul>
        </div>

        <div class="col-12 col-sm-3 col-md-3 col-lg-3">
          <h3 class="xyzz">Packages</h3>

          <ul class="footlinks">
            <li><a routerLink="maduraipackage" class="footlink">Madurai city Tour</a></li>            
            <li><a href="..." class="footlink">Honey Moon Packages</a></li>
            <li><a href="..." class="footlink">Indian Leisure Packages</a></li>
            <li><a href="..." class="footlink">Devotional Packages</a></li>
            <li><a routerLink="adventure-package" class="footlink">Adventure Packages</a></li>
          </ul>
        </div>

        <div class="col-12 col-sm-3 col-md-3 col-lg-3">
          <div class="footicon">
            <i class="fa-brands fa-facebook" style="color: rgb(192, 192, 49); margin-left: 20px;"></i>
            <i class="fa-regular fa-envelope" style="color: rgb(192, 192, 49); margin-left: 30px"></i>
            <i class="fa-brands fa-instagram" style="color: rgb(192, 192, 49); margin-left: 30px"></i>
          </div>
          <div class="maplink">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15720.620404438656!2d78.1488382!3d9.9210377!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b00c500f3b2454d%3A0x5c36ef8bef439eac!2sChrono%20Infotech!5e0!3m2!1sen!2sin!4v1685005483375!5m2!1sen!2sin" width="200" height="180" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- FOOTER END -->