<!-- BANNER IMG START -->
<section>
    <div class= "px-2">
        <img src='assets/images/kanyakumari.png' class="kanyaimg" alt="">
    </div>
</section>
<!-- BANNER IMG END -->

<!-- CONTENT START -->
<section>
    <div class="container">
        <h1 class="travelhead">Travel Like A President With Presidential Holidays</h1>

        <p class="travelpara pt-3">Step into the world of Presidential Holidays for a truly unforgettable experience! Immerse yourself in the fascinating culture of Madurai, situated at the heart of temple city and only 350 m away from the world-renowned Meenakshi temple. With 44 years in the hospitality business, we provide tailored trips around India and abroad, delivering top-notch services and fulfilling your every wish. Enjoy complete peace of mind with trustworthy travel partners, impeccable safety standards and a sincere commitment to guest satisfaction.</p>

        <p class="travelpara">We've been catering our guests for over 25 years, ensuring your comfort, safety and satisfaction in every step . So why wait? Discover a new adventure today with Presidential Holidays!</p>
    </div>
</section>
<!-- CONTENT END -->

<!-- OURMISSION START -->
<section class="ourmiss">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6 col-lg-6">
                <h3 class="ourmissionhead">Our Mission:</h3>
                <p class="ourmissionpara">Looking for the best vacation experience ever? Look no further than Presidential Holidays! Our specialized travel packages offer a range of options so you can customize your perfect getaway. Whether you're looking for a romantic escape or an adventure of a lifetime, we are committed to provide the highest quality service at unbeatable prices. Experience the best of what the world has to offer with Presidential Holidays!</p>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
              <div class="box"></div>
                <img src="assets/images/imagetwo.png" alt="" class="imgtwo">
            </div>

            <div class="col-12 col-md-6 col-lg-6">
              <h3 class="ourmissionhead">Our Vision:</h3>
                <p class="ourmissionpara">Step away from the daily stress and experience the memorable moments with Presidential Holidays! Whether you’re looking for a weekend getaway or an adventure of a lifetime, we offer tailor-made packages so you can explore the world with ease. With our personalized customer service, you’ll be sure to have a unique and unforgettable experience. Choose Presidential Holidays and make your travel dream a reality!</p>
            </div>

        </div>
    </div>
</section>
<!-- OUR MISSION END -->

<!-- DOUBLE QUOTE START -->
<section>
  <div class="doublequote">

    <div>
      <i class="fa-solid fa-quote-left leftquote" style="color: #ffffff;"></i>
      <p class="doublequotetxt">The Best Way To Pay For A Lovely Moment Is To Enjoy It</p>
      <i class="fa-solid fa-quote-right rightquote" style="color: #ffffff;"></i>
    </div>

    <div class="doublequotetext">
      
    </div>

    <div class="doublequoteright">
      
    </div>

  </div>
</section>
<!-- DOUBLE QUOTE END -->

<!-- SECOND OWL-CAROUSEL ANGULAR START -->
<section>
  <div>
    <h1 class="why">WHY PRESIDENTIAL HOLIDAYS ?</h1>
  </div>

  <div class="container">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <img src='/assets/images/Forex.jpg'>
        <div class="carousel-caption d-none d-md-block">
        </div>
    </ng-template>

    <ng-template carouselSlide>
      <img src='/assets/images/Personal guidance.jpg'>
        <div class="carousel-caption d-none d-md-block">
        </div>
    </ng-template>

    <ng-template carouselSlide>
      <img src='/assets/images/Safety and security.jpg'>
        <div class="carousel-caption d-none d-md-block">
        </div>
    </ng-template>

    <ng-template carouselSlide>
      <img src='/assets/images/Worth for money-.jpg'>
        <div class="carousel-caption d-none d-md-block">
        </div>
    </ng-template>

  </owl-carousel-o>
  </div>
</section>
<!-- SECOND OWL-CAROUSEL ANGULAR START -->

<!-- THIRD OWL-CAROUSEL ANGULAR START -->
<section>
  <div class="customer">
    <h1>Our Happy Customer's Testimonials</h1>
  </div>

  <div class="container">
    
      <owl-carousel-o [options]="customsOptions">
        <ng-template carouselSlide>
          <div class="item" >
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis nihil nesciunt beatae, nostrum id similique perferendis quae ab sint? Amet hic assumenda et! Animi fuga, temporibus accusamus asperiores harum non!</p>
            <p class="owlname">Kamal</p>
          </div>
        </ng-template>

        <ng-template carouselSlide>
          <div class="item">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident nihil ad similique laboriosam quisquam sint ab ut omnis dolores molestias.</p>
            <p class="owlname">Heike & Hans</p>
          </div>
        </ng-template>

        <ng-template carouselSlide>
          <div class="item">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis maxime at saepe culpa ratione, eius tempora? Maiores exercitationem harum unde aliquam possimus ipsa. Perferendis nulla id saepe atque autem blanditiis!</p>
            <p class="owlname">John weik</p>
          </div>
        </ng-template>

        <ng-template carouselSlide>
          <div class="item">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum illo tempora hic, porro minima voluptatem nam perferendis saepe, iure eligendi inventore consectetur, doloremque reiciendis molestias. Minima sit ipsam voluptas explicabo inventore dicta ipsum expedita? Corporis vero vel, sunt dicta sapiente quae. Accusantium minus quos id natus repellendus placeat tempore cum!</p> 
            <p class="owlname">P.Dutta</p>
          </div>
        </ng-template>

        <ng-template carouselSlide>
          <div class="item">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur numquam rem laborum natus distinctio est eligendi doloremque dolorem aperiam harum illum repellat suscipit et, repudiandae excepturi ab eaque officia ex inventore velit! Eum consequuntur esse unde, repudiandae et tempora dicta nulla, accusamus, velit dolor dolorum nobis facilis minus sapiente non.</p>
            <p class="owlname">Reshma Rodrigues</p>
          </div>
        </ng-template>

      </owl-carousel-o>
    </div>
  
</section>
<!-- THIRD OWL-CAROUSEL ANGULAR END -->
