<!-- CONTACT WEBSITE START -->
<section class="totalconnect">
    <div class="container">
        <div class="row">

            <div class="col-12 col-lg-6 contactplusholder text-center pt-5">
                <h1 style="color: rgb(192, 192, 49);">Connect With Us</h1>

                <div class="contactholder text-center">
                    <input type="text" name="fname" placeholder="Name:" class="contactholder1 py-2 ">
                    <input type="text" name="fname" placeholder="Mobile Number" class="contactholder2 py-2">
                    <input type="text" name="fname" placeholder="Description" class="contactholder3 py-4">
                </div>

                <div>
                    <a href="" class="btn btn-primary mt-5 mb-5 submitbtn" style="background-color: rgb(192, 192, 49); color: black; border-color: rgb(192, 192, 49);">SUBMIT INFORMATION</a>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <h1 class="connecthead">Presidential Holidays</h1>
                <p class="connectpara">8a, Yanaikkal Street Simmakal, Madurai-625001 <br> India</p>
                <p class="connectpara">sales@presidentialholidays.in</p>
                <p class="connectpara">8925520335</p>
                <p class="connectpara">7305705752</p>
            

                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15720.620404438656!2d78.1488382!3d9.9210377!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b00c500f3b2454d%3A0x5c36ef8bef439eac!2sChrono%20Infotech!5e0!3m2!1sen!2sin!4v1685005483375!5m2!1sen!2sin" width="76%" height="45%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="connectlocation"></iframe>
            </div>
            

        </div>
    </div>
  </section>
<!-- CONTACT WEBSITE END -->
