<!-- Owl Carousel Angular Start -->
<section>
  <div class="containers-fluid">
    <div>
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <img src="/assets/images/kodaikanal.png" alt="">
          <div class="carousel-caption d-none d-md-block">
            <h1 class="place">KODAIKANAL</h1>
          </div>
        </ng-template>

        <ng-template carouselSlide>
          <img src="/assets/images/Thekkady.png" alt="">
          <div class="carousel-caption d-none d-md-block">
            <h1 class="place">THEKKADY</h1>
          </div>
        </ng-template>

        <ng-template carouselSlide>
          <img src="/assets/images/kanyakumari.png" alt="">
          <div class="carousel-caption d-none d-md-block">
            <h1 class="place">KANYAKUMARI</h1>
          </div>
        </ng-template>

        <ng-template carouselSlide>
          <img src='/assets/images/rameshwaram.png'>
            <div class="carousel-caption d-none d-md-block">
              <h1 class="place">RAMESHWARAM</h1>
            </div>
        </ng-template>

        <ng-template carouselSlide>
          <img src='/assets/images/munnaar.png'>
            <div class="carousel-caption d-none d-md-block">
              <h1 class="place">MUNNAAR</h1>
            </div>
        </ng-template>

      </owl-carousel-o>
    </div>
  </div>
</section>
<!-- Owl Carousel Angular End -->






  
<!-- OWL-CAROUSEL BOOSTRAP START-->
  <!-- <section class="owl">
    <div class="carousel-wrap">
      <div class="owl-carousel">
        <div class="item">
          <img src='/assets/images/kodaikanal.png'>
          <div class="carousel-caption d-none d-md-block">
            <h1 class="place">KODAIKANAL</h1>
          </div>
        </div>

        <div class="item">
          <img src='/assets/images/Thekkady.png'>
          <div class="carousel-caption d-none d-md-block">
            <h1 class="place">THEKKADY</h1>
          </div>
        </div>

        <div class="item">
          <img src='/assets/images/kanyakumari.png'>
          <div class="carousel-caption d-none d-md-block">
            <h1 class="place">KANYAKUMARI</h1>
          </div>
        </div>

        <div class="item">
          <img src='/assets/images/rameshwaram.png'>
          <div class="carousel-caption d-none d-md-block">
            <h1 class="place">RAMESHWARAM</h1>
          </div>
        </div>

        <div class="item">
          <img src='/assets/images/munnaar.png'>
          <div class="carousel-caption d-none d-md-block">
            <h1 class="place">MUNNAAR</h1>
          </div>
        </div>
      </div>
    </div>
  </section> -->
<!-- OWL-CAROUSEL BOOSTRAP END -->

<!-- CONTENT START -->
  <section>
      <div class="container">
        <div class="row">

          <div class="col-12 cont">
            <p>Step into the world of Presidential Holidays for a truly unforgettable experience! Immerse yourself in the fascinating culture of Madurai, situated at the heart of temple city and only 350 m away from the world-renowned Meenakshi temple. With 44 years in the hospitality business, we provide tailored trips around India and abroad, delivering top-notch services and fulfilling your every wish. Enjoy complete peace of mind with trustworthy trave...</p>
          </div>
          

           <div class="col-12">
            <div class="read">
              <a href="" class="btn btn-primary py-0 px-1" style="background-color: rgb(192, 192, 49); color: black; border-color: rgb(192, 192, 49);">Read More</a>
              <!-- <button type="button" class="btn btn-warning">Read More</button>  -->
            </div>
          </div>
        </div>
      </div>
  </section>
<!-- CONTENT END -->

<!-- OUR PACKAGES START -->
  <section>
    <div>
       <h1 class="head1">OUR PACKAGES</h1>
    </div>
  
    <div class="container cols">
      <div class="row">

        <div class="col-12 col-sm-6 col-md-6 col-lg-4 py-1">
          <div class="card text-end">
              <img src='/assets/images/maduraitemple.jpg' class="card-img-top" alt="...">
            <div class="places">
              <h5 class="placehead">Madurai City Tour</h5>
             
              <button type="button" class="btn btn-labeled btn-success py-px">
                <span class="btn-label"><i class="fa-brands fa-whatsapp" style="color: #000000;"></i></span>Enquire Us</button>
              
          
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-4 py-1">
          <div class="card text-end">
              <img src='/assets/images/honeymoon.jpg' class="card-img-top" alt="...">
            <div class="places">
              <h5 class="placehead">Honey Moon packages</h5>
              <button type="button" class="btn btn-labeled btn-success">
                <span class="btn-label"><i class="fa-brands fa-whatsapp" style="color: #000000;"></i></span>Enquire Us</button>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-4 py-1">
          <div class="card text-end">
              <img src='/assets/images/leisure.jpg' class="card-img-top" alt="...">
            <div class="places">
              <h5 class="placehead">Indian Leisure packages</h5>
              <button type="button" class="btn btn-labeled btn-success">
                <span class="btn-label"><i class="fa-brands fa-whatsapp" style="color: #000000;"></i></span>Enquire Us</button>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-4 pad py-1">
          <div class="card text-end">
              <img src='/assets/images/devotional.jpg' class="card-img-top" alt="...">
            <div class="places">
              <h5 class="placehead">Devotional packages</h5>
              <button type="button" class="btn btn-labeled btn-success">
                <span class="btn-label"><i class="fa-brands fa-whatsapp" style="color: #000000;"></i></span>Enquire Us</button>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-4 pad py-1">
          <div class="card text-end">
              <img src='/assets/images/adventure.jpg' class="card-img-top" alt="...">
            <div class="places">
              <h5 class="placehead">Adventure packages</h5>
              <button type="button" class="btn btn-labeled btn-success">
                <span class="btn-label"><i class="fa-brands fa-whatsapp" style="color: #000000;"></i></span>Enquire Us</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
<!-- OUR PACKAGES END -->



<!-- SECOND OWL-CAROUSEL ANGULAR START -->
  <section>
    <div>
      <h1 class="why">WHY PRESIDENTIAL HOLIDAYS ?</h1>
    </div>

    <div class="container">
    <owl-carousel-o [options]="customOptionss">
      <ng-template carouselSlide>
        <img src='/assets/images/Forex.jpg'>
          <div class="carousel-caption d-none d-md-block">
          </div>
      </ng-template>

      <ng-template carouselSlide>
        <img src='/assets/images/Personal guidance.jpg'>
          <div class="carousel-caption d-none d-md-block">
          </div>
      </ng-template>

      <ng-template carouselSlide>
        <img src='/assets/images/Safety and security.jpg'>
          <div class="carousel-caption d-none d-md-block">
          </div>
      </ng-template>

      <ng-template carouselSlide>
        <img src='/assets/images/Worth for money-.jpg'>
          <div class="carousel-caption d-none d-md-block">
          </div>
      </ng-template>

    </owl-carousel-o>
    </div>
  </section>
<!-- SECOND OWL-CAROUSEL ANGULAR START -->





<!-- SECOND OWL-CAROUSEL BOOSTRAP START -->
  <!-- <section>
    <div>
      <h1 class="why">WHY PRESIDENTIAL HOLIDAYS ?</h1>
    </div>

    <div class="container">
      <div class="carousel-wrap secondowls">
        <div class="owl-carousel">

          <div class="item">
            <img src='/assets/images/Forex.jpg'>
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>

          <div class="item">
            <img src='/assets/images/Personal guidance.jpg'>
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>

          <div class="item">
            <img src='/assets/images/Safety and security.jpg'>
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>

          <div class="item">
            <img src='/assets/images/Worth for money-.jpg'>
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>

        </div>
      </div>
    </div>
  </section> -->
<!-- SECOND OWL-CAROUSEL BOOSTRAP END -->

  

<!-- THIRD OWL-CAROUSEL ANGULAR START -->
<section>
  <div class="customer">
    <h1>Our Happy Customer's Testimonials</h1>
  </div>

  <div class="container">
    
      <owl-carousel-o [options]="customsOptions">
        <ng-template carouselSlide>
          <div class="item" >
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis nihil nesciunt beatae, nostrum id similique perferendis quae ab sint? Amet hic assumenda et! Animi fuga, temporibus accusamus asperiores harum non!</p>
            <p class="owlname">Kamal</p>
          </div>
        </ng-template>

        <ng-template carouselSlide>
          <div class="item">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident nihil ad similique laboriosam quisquam sint ab ut omnis dolores molestias.</p>
            <p class="owlname">Heike & Hans</p>
          </div>
        </ng-template>

        <ng-template carouselSlide>
          <div class="item">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis maxime at saepe culpa ratione, eius tempora? Maiores exercitationem harum unde aliquam possimus ipsa. Perferendis nulla id saepe atque autem blanditiis!</p>
            <p class="owlname">John weik</p>
          </div>
        </ng-template>

        <ng-template carouselSlide>
          <div class="item">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum illo tempora hic, porro minima voluptatem nam perferendis saepe, iure eligendi inventore consectetur, doloremque reiciendis molestias. Minima sit ipsam voluptas explicabo inventore dicta ipsum expedita? Corporis vero vel, sunt dicta sapiente quae. Accusantium minus quos id natus repellendus placeat tempore cum!</p> 
            <p class="owlname">P.Dutta</p>
          </div>
        </ng-template>

        <ng-template carouselSlide>
          <div class="item">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur numquam rem laborum natus distinctio est eligendi doloremque dolorem aperiam harum illum repellat suscipit et, repudiandae excepturi ab eaque officia ex inventore velit! Eum consequuntur esse unde, repudiandae et tempora dicta nulla, accusamus, velit dolor dolorum nobis facilis minus sapiente non.</p>
            <p class="owlname">Reshma Rodrigues</p>
          </div>
        </ng-template>

      </owl-carousel-o>
    </div>
  
</section>
<!-- THIRD OWL-CAROUSEL ANGULAR END -->

  
<!-- THIRD OWL-CAROUSEL BOOSTRAP START -->
  <!-- <section>
    <div class="customer">
      <h1>Our Happy Customer's Testimonials</h1>
    </div>

    <div class="ourBg container">
      <div class="carousel-wrap thirdowl">
        <div class="owl-carousel">

          <div class="item">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis nihil nesciunt beatae, nostrum id similique perferendis quae ab sint? Amet hic assumenda et! Animi fuga, temporibus accusamus asperiores harum non!</p>
            <p class="owlname">Kamal</p>
          </div>

          <div class="item">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident nihil ad similique laboriosam quisquam sint ab ut omnis dolores molestias.</p>
            <p class="owlname">Heike & Hans</p>
          </div>

          <div class="item">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis maxime at saepe culpa ratione, eius tempora? Maiores exercitationem harum unde aliquam possimus ipsa. Perferendis nulla id saepe atque autem blanditiis!</div>

          <div class="item">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum illo tempora hic, porro minima voluptatem nam perferendis saepe, iure eligendi inventore consectetur, doloremque reiciendis molestias. Minima sit ipsam voluptas explicabo inventore dicta ipsum expedita? Corporis vero vel, sunt dicta sapiente quae. Accusantium minus quos id natus repellendus placeat tempore cum!</p> 
            <p class="owlname">P.Dutta</p>
          </div>

          <div class="item">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur numquam rem laborum natus distinctio est eligendi doloremque dolorem aperiam harum illum repellat suscipit et, repudiandae excepturi ab eaque officia ex inventore velit! Eum consequuntur esse unde, repudiandae et tempora dicta nulla, accusamus, velit dolor dolorum nobis facilis minus sapiente non.</p>
            <p class="owlname">Reshma Rodrigues</p>
          </div>
          
        </div>
      </div>
    </div>
  </section> -->
  <!-- THIRD OWL-CAROUSEL BOOSTRAP END -->
